@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800");

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+AC00-D7A3;
}

body{
    font-family: "Dosis", "S-CoreDream-3Light";

}
.chat-wrap{
/* 	border : 5px solid blue; */
	height: 600px;
	width:550px;
	padding-bottom: 0px;
}
.chat-wrap-inner{
/* 	border : 5px solid red; */
	height: 100%;
	width:100%;
}
#chat-container{
/* 	border : 5px solid green; */
	height: 75%;
	margin-bottom: 0px;

}
.chat-title{
/* 	border : 5px solid yellow; */

}
.chat-area{
/* 	border : 5px solid purple; */
	height: 80%;
	
}
.message-area{
/* 	border : 5px solid blue; */
	
}
.message-write-area{
/* 	border : 5px solid black; */
}
.message-write-inner{
/* 	border : 5px solid yellow; */
}


